.main-img-container{
    width: 500px;
    height: 500px;
    display: flex;
    z-index: 1000;
    margin:auto;  
    flex-direction: column;
    align-items: flex-end;
    /*background-image: url(https://mariart.kiev.ua/image/catalog/188157629dfa/1fab6f285c6df081.jpg);*/
    background-size: cover;
}
